In [1]:
import os

import numpy as np
import pandas as pd

from trackml.dataset import load_event
from trackml.randomize import shuffle_hits
from trackml.score import score_event

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
%matplotlib inline

# Stuff for plotly
init_notebook_mode(connected=True)
from plotly.offline import iplot, init_notebook_mode
import plotly.graph_objs as go
import plotly.figure_factory as ff

def plotly_trace(x,y,z):
    trace1 = go.Scatter3d(
    x=x,
    y=y,
    z=z,
    mode='markers',
    marker=dict(
        size=6
#         line=dict(
#             color='rgba(217, 217, 217, 0.14)',
#             width=0.5
        ),
        opacity=1
    ),
    return trace1[0]

In [3]:
event_prefix = 'event000001000'
hits, cells, particles, truth =\
load_event(os.path.join('train_1', event_prefix))

In [13]:
truth.head()

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,0,-64.411598,-7.164120,-1502.5,250710.000000,-149908.000000,-956385.00000,0.000000
1,2,22525763437723648,-55.338501,0.630805,-1502.5,-0.570605,0.028390,-15.49220,0.000010
2,3,0,-83.828003,-1.145580,-1502.5,626295.000000,-169767.000000,-760877.00000,0.000000
3,4,297237712845406208,-96.122902,-8.230360,-1502.5,-0.225235,-0.050968,-3.70232,0.000008
4,5,418835796137607168,-62.659401,-9.375040,-1502.5,-0.281806,-0.023487,-6.57318,0.000009

In [38]:
prt = []
for ind in (np.unique(truth["particle_id"])):
    prt.append(truth[truth["particle_id"]==ind][["tx", "ty", "tz"]])

In [66]:
# fig = plt.figure()
# ax = fig.add_subplot(111, projection="3d")
traces = []
for ind in range(80):
    tmp = prt[1+ind] # avoid the 0-index of spurious nonsense
    x, y, z = tmp.tx, tmp.ty, tmp.tz 
    traces.append(plotly_trace(x,y,z))

#     ax.plot(tmp["tx"], tmp["ty"], tmp["tz"], marker='o')
# iplot(traces)

In [68]:
hits.head()

   hit_id          x         y       z  volume_id  layer_id  module_id
0       1 -64.409897 -7.163700 -1502.5          7         2          1
1       2 -55.336102  0.635342 -1502.5          7         2          1
2       3 -83.830498 -1.143010 -1502.5          7         2          1
3       4 -96.109100 -8.241030 -1502.5          7         2          1
4       5 -62.673599 -9.371200 -1502.5          7         2          1

In [70]:
tmp = hits[hits["hit_id"]==2]
hit_traces = plotly_trace(tmp.x, tmp.y, tmp.z)

1   -55.336102
Name: x, dtype: float32